.box {
  display: flex;
  /* flex-direction: column; */
  justify-content: start;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.box1 {
  font-size: large;
  font-weight: bold;
  padding: 1px;
  margin: 1px;
  border: 1px solid black;
  border-radius: 10%;
  margin: 5px;
  padding: 5px;
  background-color: aliceblue;
}

.box1:hover {
  background-color: chartreuse;
}

.box1 a {
  text-decoration: none;
}

.box1 a:hover {
  color: red;
}

.home a {
  text-decoration: none;
}
/* 여기까지 헤더 영역 */

/* login div */

div {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

div h2 {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px 5px black;
}

ul li {
  overflow: hidden;
  list-style: none;
  margin: 0px;
  padding: 0px;
  line-height: 40px;
}

ul li label {
  font-size: 20px;
  color: blueviolet;
  float: left;
  width: 100px;
  text-align: right; /* 라벨 오른쪽 정렬 */
  padding-right: 10px;
}

ul li input {
  width: 200px;
  height: 30px;
  float: right;
}

ul li button {
  justify-content: center;
  margin-top: 10px;
  float: right;
  width: 100px;
}

ul li button:hover {
  background-color: gray;
  color: white;
}

/* footer */
.hr {
  clear: both;
  margin-top: 20px;
}

.footer {
  font-size: 30px;
  font-weight: bold;
  color: black;
  /* justify-content: last baseline; */
  max-width: 10px;
}
